# Name: Trainable Deep Weka Segmentation
# Author: Christian Tischer, Ignacio Arganda-Carreras, Verena Kaynig, Albert Cardona
# Maintainer: Christian Tischer (christian.tischer@embl.de)

Plugins>Development>EMBL-CBA, "Trainable Deep Segmentation", de.embl.cba.trainableDeepSegmentation.ui.DeepSegmentationIJ1Plugin
